*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}

.container{
  padding: 120px;
  background-color: blue;
  margin-top: 150px;
  text-align: center;
  border-radius: 50px;
}

.container-list{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field{
  width: 360px;
  height: 46px;
  border: 1px solid black;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
  padding: 10px;
}

#addToDo {
  height: 46px;
  width: 45px;
  border: 1px solid black;
  vertical-align: middle;
  font-size: 30px;
}

.delete{
  border-radius:50px;
  background-color: red;
  color: white;
}


.to-dos{
  margin-top: 25px;
}

.paragraph-styling{
  margin: 0;
  cursor: pointer;
  font-size: 20px;
}